body {
    padding: 50px;
    color: black;
}

* {
    box-sizing: border-box;
}

.router-link-active,
.router-link-active:hover,
.router-link-active:focus,
.router-link-active:active {
    background-color: #e7e7e7 !important;
}

.product-promoted {
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}