<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Angular 2 App</span>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default navbar-btn" [routerLink]="['Products']">Products</button>
                <button type="button" class="btn btn-default navbar-btn" [routerLink]="['Cart']">Cart</button>
            </div>
            <button type="button" class="btn btn-default navbar-btn" [routerLink]="['Order']">New order</button>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>