<form class="form-horizontal" [ngFormModel]="orderForm" (submit)="submit($event)">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="first_name" class="col-sm-2">First name</label>
                <div class="col-sm-10">
                    <input type="text" id="first_name" class="form-control" [ngControl]="'firstName'" />
                </div>
            </div>
            <div class="form-group">
                <label for="last_name" class="col-sm-2">Last name</label>
                <div class="col-sm-10">
                    <input type="text" id="last_name" class="form-control" [ngControl]="'lastName'" />
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2">E-mail</label>
                <div class="col-sm-10">
                    <input type="email" id="email" class="form-control" [ngControl]="'email'" />
                </div>
            </div>
            <div class="form-group">
                <label for="product_name" class="col-sm-2">Product name</label>
                <div class="col-sm-10">
                    <input type="text" id="product_name" class="form-control" [ngControl]="'productName'" />
                </div>
            </div>
            <div class="form-group">
                <label for="quantity" class="col-sm-2">Quantity</label>
                <div class="col-sm-10">
                    <input type="number" id="quantity" class="form-control" [ngControl]="'quantity'" />
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button
                    [ngClass]="{ 'btn': true, 'btn-success': orderForm.valid, 'btn-danger': !orderForm.valid }"
                    [disabled]="!orderForm.valid">
                Add
            </button>
        </div>
    </div>
</form>