<div>
    <filters-form
            [promotedVisible]="promotedVisible"
            [phraseValue]="phraseValue"
            [sortByPriceOrder]="sortByPriceOrder"
            [sortByNameOrder]="sortByNameOrder"
            (promotedVisibilityChange)="togglePromotedVisibility($event)"
            (phraseChange)="filterByPhrase($event)"
            (sortByNameChange)="sortByName($event)"
            (sortByPriceChange)="sortByPrice($event)">
    </filters-form>
    <div class="list-group">
        <product
                *ngFor="#product of products | filter:'promoted':!promotedVisible | phrase:'name':phraseValue | sort:'name':sortByNameOrder | sort:'price':sortByPriceOrder:sortByNameOrder === 0"
                [ngClass]="{ 'list-group-item': true, 'list-group-item-success': product.promoted }"
                [name]="product.name"
                [price]="product.price"
                [promoted]="product.promoted">
        </product>
    </div>
</div>